
:root {
    --border-size: 3px;
    --shadow-offset: 4px;
    --color-cyan: #51e5e5;
    --color-red: #e63946;
    --color-yellow: #f4e46a;
}

* {
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}

body {
    background-color: #e0e0e0;
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 20px 20px;

    height: 100vh;
    margin: 0;

    position: relative;
    overflow: hidden;
}

/* ===============================
   CONTENEDOR POKÉBOLA (FONDO)
   =============================== */
.contenedor {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

/* Pokébola */
.pokeball {
    position: relative;
    width: 700px;
    height: 700px;
    border: 20px solid rgba(5, 4, 4, 0.92);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.2);
    transform: rotate(-15deg);
}

/* Parte roja */
.pokeball-top {
    flex: 1;
    background: rgba(231, 46, 46, 0.92);
    position: relative;
}

/* Overlay suave */
.overlay {
    position: absolute;
    inset: 0;
    background: white;
    opacity: 0.05;
}

/* Franja central */
.pokeball-mid {
    height: 60px;
    background: rgba(2, 2, 2, 0.945);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón central */
.ball-center {
    position: absolute;
    top: 50%;
    width: 150px;
    height: 150px;
    background-color: #f4f4f4;
    border: 18px solid black;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

/* Parte blanca */
.pokeball-bot {
    flex: 1;
    background-color: #f4f4f4;
}

/* contenido principal*/
.main-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    z-index: 5;
}

/* UI */
.title-card {
    background-color: var(--color-cyan);
    border: var(--border-size) solid black;
    padding: 15px 40px;
    box-shadow: var(--shadow-offset) var(--shadow-offset) 4px black;
    transform: rotate(-3deg);
}

.title-card h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: 2px;
}

.top-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    border: var(--border-size) solid black;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0px black;
    font-size: 0.8rem;
}

.btn-cyan { background-color: var(--color-cyan); }
.btn-white { background-color: white; }

.search-bar {
    display: flex;
    gap: 10px;
    width: 100%;
}

.select-box {
    background-color: var(--color-yellow);
    border: var(--border-size) solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0px black;
}

.input-text {
    flex-grow: 1;
    border: var(--border-size) solid black;
    padding: 10px;
    font-size: 1rem;
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0px black;
    outline: none;
}

.btn-search {
    background-color: var(--color-red);
    color: white;
    border: var(--border-size) solid black;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0px black;
}

.btn:active,
.btn-search:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px black;
}
